@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --default-font: "Quicksand", sans-serif;
    --white-mode-color: #60c7c7;
    --black-mode-color: #0a004c;
    --white-mode-text-border: #000;
    --black-mode-text-border: #fff;
    --black-mode-button: #0000ff;
}

/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--default-font);
}

body {
  background: url(./img/light_cloud.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-color: var(--white-mode-color);
  color: var(--white-mode-text-border);
  animation: nuvensAnimadas 65s linear infinite;
}

body.dark-mode {
  background: url(./img/dark_cloud.png);
  background-size: cover;
  background-repeat: repeat-x;
  background-color: var(--black-mode-color);
  color: var(--black-mode-text-border);
  animation: nuvensAnimadas 65s linear infinite;
}

@keyframes nuvensAnimadas {
  0% { background-position: 0 0; }
  100% { background-position: -1000px 0; }
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 100vh;

    text-align: center;
}

#quantidade, #texto {
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.inputs:last-of-type {
  margin-bottom: 20px;
}

/* bloco-1 */
.bloco-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

/* Formulário */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid var(--white-mode-text-border);
    border-radius: 0.5em;
    padding: 20px;
}

textarea {
  resize: none;
  padding: 10px;
}

.form_diario, .form_remedio {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.remedio {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  align-self: center;
  margin-bottom: 20px;
  padding: 2px 15px;
  border: double 10px var(--white-mode-color);
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}

button:hover {
  background-color: rgba(199, 199, 199, 0.133);
  transition: all 0.1s linear;
}

body.dark-mode button {
  border: double 10px var(--black-mode-button);
}

body.dark-mode button:hover {
  background-color: rgba(212, 212, 212, 0.099);
  color: var(--black-mode-text-border);
}

textarea {
  font-weight: 600;
}

.humor {
    display: flex;
    justify-content: center;
    font-size: 19px;
}

/* Lista de Diários e Remédios */
.resposta {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.resposta ul li {
  list-style-type: none;
  font-size: 1.1rem;
}

.conteudo-1, .conteudo-2 {
    border: 2px solid var(--white-mode-text-border);
    border-radius: 0.5em;
    padding: 10px;
    font-size: 0.8rem;
    width: 480px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.conteudo-3 ul li {
  font-size: 1.1rem;
}

.conteudo-3 input {
  padding: 9px 34px;
  font-size: 1rem;
}

.conteudo-1 ul, .conteudo-2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo-1 h2, .conteudo-2 h2 {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.label-texto {
  font-size: 1.4rem;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content, .confirmModal {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
  height: auto;
}

.modal-content > p {
  margin-bottom: 20px;
}

.modal.show {
  display: flex;
}

#modal-texto {
  overflow-y: auto;
  /* height: 350px; */
  text-align: justify;
}
/* Sol e Lua (Dark Mode) */
.sun {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 79px;
  animation: rotateBorder 7s linear infinite;
  cursor: pointer;
}

.sun:hover {
  width: 120px;
  height: 120px;
  transition: all 0.4s ease-in-out;
}

@keyframes rotateBorder {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.formulario,
.conteudo-1,
.conteudo-2,
.modal-content {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(4px);
}

body.dark-mode .formulario,
body.dark-mode .conteudo-1,
body.dark-mode .conteudo-2,
body.dark-mode .modal-content {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #eee;
}

body.dark-mode a {
  color: #f5f5f5;
}

.mensagem-sucesso {
  color: #296f3a;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  margin: 15px auto;
  width: fit-content;
  animation: fadeOut 5s forwards;
}

.mensagem-erro {
  color: #ffffff;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d42542;
  border: 1px solid #c3e6cb;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  margin: 15px auto;
  width: fit-content;
  animation: fadeOut 5s forwards;
}

.mensagem-info {
  color: #ffffff;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0e2cec;
  border: 1px solid #c3e6cb;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  margin: 15px auto;
  width: fit-content;
  animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

body.dark-mode .mensagem-sucesso {
  background-color: #343a40;
  color: #d4edda;
  border-color: #495057;
}


header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--white-mode-text-border);
}

header a:hover {
  font-size: 1.6rem;
  transition: all 0.4s ease-in-out;
}

.icon {
  display: none;
}

#menu {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    gap: 20px;
    height: unset;
  }

  .formulario {
    margin: 10px;
  }

  .conteudo-2 {
    margin-bottom: 10px;
  }

  .form_diario, .form_remedio {
    width: 290px;
  }

  .sun {
    width: 70px;
    height: 70px;
    top: 5px;
    right: 30px;
  }

  .sun:hover {
    width: 80px;
    height: 80px;
  }

  .conteudo-1, .conteudo-2 {
    width: 330px;
  }

  .icon {
    display: block;
  }

    #menu {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%);
      background-color: #fff;
      color: #333;
      list-style: none;
      border-radius: 0.75em;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      z-index: 1;
      padding: 0.5em 0;
      margin: 0;
      display: none;
      animation: fade 0.1s linear;
      text-align: center;
    }
  
    #menu.show {
      display: block;
    }
  
    #menu li {
      width: 100%;
    }
  
    #menu a {
      display: block;
      width: 100%;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #333;
      border-radius: 0.5em;
      transition: background 0.2s ease, color 0.2s ease;
    }
  
    #menu a:hover {
      background: #f2f2f2;
      color: #000;
    }
  
    @keyframes fade {
      from {
        opacity: 0;
      }
  
      to {
        opacity: 1;
      }
    }
  
    }