<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
      <div class="formulario">
        <form class="form_diario" action="/add_diario" method="post">
          <label for="texto">Texto:</label>
          <textarea name="texto" id="texto" cols="30" rows="10"></textarea>
      
          <div class="humor">
            <input type="radio" id="feliz" name="humor" value="feliz">
            <label for="feliz">😊</label>
      
            <input type="radio" id="medio" name="humor" value="médio">
            <label for="médio">😐</label>
      
            <input type="radio" id="triste" name="humor" value="triste">
            <label for="triste">😭</label>
          </div>
      
          <div class="remedio">
            <label for="remedio">Tomou o remédio?</label>
            <input type="checkbox" name="remedio" id="remedio">
          </div>
          
          <button type="submit" value="Enviar">Enviar</button>
        </form>
      </div>
    
      <div class="resposta">
        <div class="conteudo-1">
          <h2>Entradas do Diário</h2>
          <ul>
            {% for id, data, texto, emoji in diarios %}
            <li>
              {% if emoji %}
              {{ emoji | title }} - {{ data }}
              <button onclick="openModal(`{{ texto | escape }}`)">Ler</button>
              {% else %}
              {{ data }}
              {% endif %}
              <a href="javascript:void(0);" onclick="askDelete('/delete_diario/{{ id }}')">Apagar</a>
            </li>
            {% endfor %}
          </ul>
        </div>
    
    
        <div class="conteudo-2">
          <h2>Registro de Remédios</h2>
          <ul>
            {% for r in remedios %}
            <li><strong>{{ r[1] }}</strong>: ✅ Tomou
              <a href="javascript:void(0);" onclick="askDelete(`/delete_remedio/{{ r[0] }}`)">Apagar</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    
      <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">
          <p id="modal-texto"></p>
          <button onclick="closeModal()">Fechar</button>
        </div>
      </div>
    
      <div id="confirmModal" class="modal" style="display:none;">
        <div class="modal-content">
          <p>Você tem certeza que deseja apagar esta entrada?</p>
          <button id="confirmDelete">Sim, apagar</button>
          <button onclick="closeConfirmModal()">Cancelar</button>
        </div>
      </div>
    </main>

    <img class="sun" src="../static/img/new_sun.png" alt="">
    <!-- <div class="sun-2"></div> -->

    <script src="../static/script.js"></script>
</body>
</html>