<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dose de Mim</title>
    <link rel="shortcut icon" href="../static/img/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
      <div class="bloco-1">
        <div class="formulario">
        <form class="form_diario" action="/add_diario" method="post">
          <label for="texto">Texto:</label>
          <textarea name="texto" id="texto" cols="30" rows="10"></textarea>
      
          <div class="humor">
            <input type="radio" id="feliz" name="humor" value="feliz">
            <label for="feliz">😊</label>
      
            <input type="radio" id="medio" name="humor" value="médio">
            <label for="médio">😐</label>
      
            <input type="radio" id="triste" name="humor" value="triste">
            <label for="triste">😭</label>
          </div>
      
          <div class="remedio">
            <label for="remedio">Tomou o remédio?</label>
            <input type="checkbox" name="remedio" id="remedio">
          </div>
          
          <button type="submit" value="Enviar">Enviar</button>
        </form>

        
      </div>

      <div class="conteudo-3">
        <div class="conteudo-1" id="medicamentos">
          <h2>Medicamentos</h2>
          <ul>
            <form action="/add_medicamento" method="post">
              <div class="inputs">
                <input type="text" name="texto" id="texto" placeholder="Nome do medicamento" required>
                <input type="number" name="quantidade" id="quantidade" placeholder="Quantidade" required>
              </div>
              <button type="submit">Adicionar</button>
            </form>

            <ul>
              {% for id, texto, quantidade in medicamentos %}
              <li>
                {{ texto | title}} - {{ quantidade}} unidades
                <a href="javascript:void(0);" onclick="askDelete('/delete_medicamento/{{ id }}')">Apagar</a>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
      </div>
      
    
      <div class="resposta">
        <div class="conteudo-1">
          <h2>Entradas do Diário</h2>
          <ul>
            {% for d in diarios %}
            <li>
              {% if d.emoji %}
              {{ d.emoji | title }} - {{ d.data }}
              <button onclick="openModal(`{{ texto | escape }}`)">Ler</button>
              {% else %}
              {{ d.data }}
              <button onclick="openModal(`{{ texto | escape }}`)">Ler</button>
              {% endif %}
              <a href="javascript:void(0);" onclick="askDelete('/delete_diario/{{ d.id }}')">Apagar</a>
            </li>
            {% endfor %}
          </ul>
        </div>
    
    
        <div class="conteudo-2">
          <h2>Registro de Remédios</h2>
          <ul>
            {% for r in remedios %}
            <li><strong>{{r.data}}</strong> | ✅ Tomou
              <a href="javascript:void(0);" onclick="askDelete(`/delete_remedio/{{ r.id }}`)">Apagar</a>
            </li>
            {% endfor %}
          </ul>
        </div>

        </div>

        
      </div>
     
      <!-- Modais -->
      <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">
          <p id="modal-texto"></p>
          <button onclick="closeModal()">Fechar</button>
        </div>
      </div>
    
      <div id="confirmModal" class="modal" style="display:none;">
        <div class="modal-content">
          <p>Você tem certeza que deseja apagar esta entrada?</p>
          <button id="confirmDelete">Sim, apagar</button>
          <button onclick="closeConfirmModal()">Cancelar</button>
        </div>
      </div>

      <!-- Mensagem de Confirmação -->
<!--      {% with mensagens = get_flashed_messages() %}-->
<!--      {% if mensagens %}-->
<!--      <div class="mensagem-sucesso">-->
<!--        {{ mensagens[0] }}-->
<!--      </div>-->
<!--      {% endif %}-->
<!--      {% endwith %}-->

      <!-- Mensagem de Erro -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
      <div class="mensagem-{{ category }}">{{ message }}</div>
      {% endfor %}
      {% endwith %}

    </main>

    <img class="sun" src="../static/img/new_sun.png">

    <script src="../static/script.js"></script>
</body>
</html>